In [99]:
import pandas as pd

In [100]:
import csv

In [104]:
cd data

/Users/MyMac/Desktop/data

In [105]:
ls

Information is Beautiful- Data Breaches (public) - 2017 update.csv
Information is Beautiful- Data Breaches (public) - Jan 2015 update.csv
Information is Beautiful- Data Breaches (public) - July 2013 update (old).csv
databreach_2013.csv
databreach_2015.csv
databreach_2017.csv
db_data_2017.csv

In [106]:
#coverting a csv file into a dataframe
db_data_2017 = pd.read_csv('Information is Beautiful- Data Breaches (public) - 2017 update.csv')

In [107]:
#skipping first empty row
with open("Information is Beautiful- Data Breaches (public) - 2017 update.csv",'r') as f, open("db_data_2017.csv",'w') as f1:
    next(f) # skip header line
    for line in f:
        f1.write(line)

In [108]:
db_data_2017 = pd.read_csv('db_data_2017.csv')

In [109]:
#skipping row with information about columns
db_data_2017 = db_data_2017.dropna(subset=['Entity'], how='any')

In [110]:
#checking data
from itertools import islice
with open("db_data_2017.csv") as myfile:
    head = list(islice(myfile, 3))
print head

['Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED,Exclude,,1st source link,2nd source link,3rd source,source name\r\n', ',,Elaboration if there\'s an interesting story or detail behind it,"years are encoded (0=2004, 8 = 2012, 9 = 2013, 10=2014, 11=2015, 12=2016, 13 = 2017, 14=latest","(use 3m, 4m, 5m or 10m to approximate unknown figures)",,,,"(use 3m, 4m, 5m or 10m to approximate unknown figures)",1. Just email address/Online information 20 SSN/Personal details 300 Credit card information 4000 Email password/Health records 50000 Full bank account details,,,Show this item in the viz?,,,,,\r\n', 'AOL,American Online,A former America Online software engineer stole 92 million screen names and e-mail addresses and sold them to spammers who sent out up to 7 billion unsolicited e-mails.,0,92000000,web,inside job,,92000000,1,,,,,http://money.cnn.com/2004/06/23/technology/aol_spam/,http://www.msnbc.msn.com/id/8985989/#.UFcN8RgUwaA,,CNN\r\n']

In [111]:
#checking datatypes
db_data_2017.dtypes

Entity                   object
alternative name         object
story                    object
YEAR                     object
records lost             object
ORGANISATION             object
METHOD OF LEAK           object
interesting story        object
NO OF RECORDS STOLEN     object
DATA SENSITIVITY         object
UNUSED                  float64
UNUSED.1                float64
Exclude                  object
Unnamed: 13              object
1st source link          object
2nd source link          object
3rd source               object
source name              object
dtype: object

In [112]:
# selecting only required columns from data frames and renaming those columns
db_data_2017 = db_data_2017[['Entity','story','YEAR','ORGANISATION','METHOD OF LEAK','NO OF RECORDS STOLEN','DATA SENSITIVITY','source name']]
db_data_2017.columns = ['ENTITY','STORY','YEAR','ORGANISATION','METHOD OF LEAK','NO OF RECORDS STOLEN','DATA SENSITIVITY', 'SOURCE NAME']

In [113]:
#checking datatypes again
db_data_2017.dtypes

ENTITY                  object
STORY                   object
YEAR                    object
ORGANISATION            object
METHOD OF LEAK          object
NO OF RECORDS STOLEN    object
DATA SENSITIVITY        object
SOURCE NAME             object
dtype: object

In [114]:
#changing YEAR values from the codes
db_data_2017.loc[db_data_2017['YEAR'] == '0', 'YEAR'] = 2004
db_data_2017.loc[db_data_2017['YEAR'] == '1', 'YEAR'] = 2005
db_data_2017.loc[db_data_2017['YEAR'] == '2', 'YEAR'] = 2006
db_data_2017.loc[db_data_2017['YEAR'] == '3', 'YEAR'] = 2007
db_data_2017.loc[db_data_2017['YEAR'] == '4', 'YEAR'] = 2008
db_data_2017.loc[db_data_2017['YEAR'] == '5', 'YEAR'] = 2009
db_data_2017.loc[db_data_2017['YEAR'] == '6', 'YEAR'] = 2010
db_data_2017.loc[db_data_2017['YEAR'] == '7', 'YEAR'] = 2011
db_data_2017.loc[db_data_2017['YEAR'] == '8', 'YEAR'] = 2012
db_data_2017.loc[db_data_2017['YEAR'] == '9', 'YEAR'] = 2013
db_data_2017.loc[db_data_2017['YEAR'] == '10', 'YEAR'] = 2014
db_data_2017.loc[db_data_2017['YEAR'] == '11', 'YEAR'] = 2015
db_data_2017.loc[db_data_2017['YEAR'] == '12', 'YEAR'] = 2016
db_data_2017.loc[db_data_2017['YEAR'] == '13', 'YEAR'] = 2017
db_data_2017.loc[db_data_2017['YEAR'] == '14', 'YEAR'] = 'latest'

In [37]:
#changing DATA SENSITIIVITY values from the codes
"""
db_data_2017.loc[db_data_2017['DATA SENSITIVITY'] == '1', 'DATA SENSITIVITY'] = 'Just email address/Online information'
db_data_2017.loc[db_data_2017['DATA SENSITIVITY'] == '20', 'DATA SENSITIVITY'] = 'SSN/Personal details'
db_data_2017.loc[db_data_2017['DATA SENSITIVITY'] == '300', 'DATA SENSITIVITY'] = 'Credit card information'
db_data_2017.loc[db_data_2017['DATA SENSITIVITY'] == '4000', 'DATA SENSITIVITY'] = 'Email password/Health records'
db_data_2017.loc[db_data_2017['DATA SENSITIVITY'] == '50000', 'DATA SENSITIVITY'] = 'Full bank account details'
"""

In [115]:
#saving dataframe as CSV file
db_data_2017.to_csv('databreach_2017.csv')

In [116]:
#coverting a CSV file into a dataframe
db_data_2015 = pd.read_csv('Information is Beautiful- Data Breaches (public) - Jan 2015 update.csv')

In [117]:
with open("Information is Beautiful- Data Breaches (public) - Jan 2015 update.csv",'r') as f, open("db_data_2015.csv",'w') as f1:
    next(f) # skip header line
    for line in f:
        f1.write(line)

In [118]:
db_data_2015 = pd.read_csv('db_data_2015.csv')

In [119]:
db_data_2015 = db_data_2015.dropna(subset=['Entity'], how='any')

In [120]:
from itertools import islice
with open("db_data_2017.csv") as myfile:
    head = list(islice(myfile, 3))
print head

['Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED,Exclude,,1st source link,2nd source link,3rd source,source name\r\n', ',,Elaboration if there\'s an interesting story or detail behind it,"years are encoded (0=2004, 8 = 2012, 9 = 2013, 10=2014, 11=2015, 12=2016, 13 = 2017, 14=latest","(use 3m, 4m, 5m or 10m to approximate unknown figures)",,,,"(use 3m, 4m, 5m or 10m to approximate unknown figures)",1. Just email address/Online information 20 SSN/Personal details 300 Credit card information 4000 Email password/Health records 50000 Full bank account details,,,Show this item in the viz?,,,,,\r\n', 'AOL,American Online,A former America Online software engineer stole 92 million screen names and e-mail addresses and sold them to spammers who sent out up to 7 billion unsolicited e-mails.,0,92000000,web,inside job,,92000000,1,,,,,http://money.cnn.com/2004/06/23/technology/aol_spam/,http://www.msnbc.msn.com/id/8985989/#.UFcN8RgUwaA,,CNN\r\n']

In [121]:
db_data_2015.dtypes

Entity                         object
alternative name               object
story                          object
YEAR                           object
records lost                   object
ORGANISATION                   object
METHOD OF LEAK                 object
interesting story              object
NO OF RECORDS STOLEN           object
DATA SENSITIVITY               object
UNUSED                        float64
UNUSED.1                      float64
Exclude                        object
Unnamed: 13                   float64
1st source link                object
2nd source link                object
3rd source                     object
source name                    object
UNUSED.2                       object
UNUSED.3                      float64
UNUSED.4                      float64
UNUSED.5                      float64
UNUSED.6                      float64
UNUSED.7                      float64
Unnamed: 24                   float64
Link to individual study      float64
Link to individual study.1    float64
Link to individual study.2    float64
Link to individual study.3    float64
Link to individual study.4    float64
Link to individual study.5    float64
Link to individual study.6    float64
Link to individual study.7    float64
Link to individual study.8    float64
Link to individual study.9    float64
dtype: object

In [122]:
# selecting only required columns from data frames and renaming those columns
db_data_2015 = db_data_2015[['Entity','story','YEAR','ORGANISATION','METHOD OF LEAK','NO OF RECORDS STOLEN','DATA SENSITIVITY','source name']]
db_data_2015.columns = ['ENTITY','STORY','YEAR','ORGANISATION','METHOD OF LEAK','NO OF RECORDS STOLEN','DATA SENSITIVITY', 'SOURCE NAME']

In [123]:
db_data_2015.dtypes

ENTITY                  object
STORY                   object
YEAR                    object
ORGANISATION            object
METHOD OF LEAK          object
NO OF RECORDS STOLEN    object
DATA SENSITIVITY        object
SOURCE NAME             object
dtype: object

In [124]:
db_data_2015.loc[db_data_2015['YEAR'] == '0', 'YEAR'] = 2004
db_data_2015.loc[db_data_2015['YEAR'] == '1', 'YEAR'] = 2005
db_data_2015.loc[db_data_2015['YEAR'] == '2', 'YEAR'] = 2006
db_data_2015.loc[db_data_2015['YEAR'] == '3', 'YEAR'] = 2007
db_data_2015.loc[db_data_2015['YEAR'] == '4', 'YEAR'] = 2008
db_data_2015.loc[db_data_2015['YEAR'] == '5', 'YEAR'] = 2009
db_data_2015.loc[db_data_2015['YEAR'] == '6', 'YEAR'] = 2010
db_data_2015.loc[db_data_2015['YEAR'] == '7', 'YEAR'] = 2011
db_data_2015.loc[db_data_2015['YEAR'] == '8', 'YEAR'] = 2012
db_data_2015.loc[db_data_2015['YEAR'] == '9', 'YEAR'] = 2013
db_data_2015.loc[db_data_2015['YEAR'] == '10', 'YEAR'] = 2014
db_data_2015.loc[db_data_2015['YEAR'] == '11', 'YEAR'] = 2015
db_data_2015.loc[db_data_2015['YEAR'] == '12', 'YEAR'] = 2016
db_data_2015.loc[db_data_2015['YEAR'] == '13', 'YEAR'] = 2017
db_data_2015.loc[db_data_2015['YEAR'] == '14', 'YEAR'] = 'latest'

In [73]:
"""
db_data_2015.loc[db_data_2015['DATA SENSITIVITY'] == '1', 'DATA SENSITIVITY'] = 'Just email address/Online information'
db_data_2015.loc[db_data_2015['DATA SENSITIVITY'] == '20', 'DATA SENSITIVITY'] = 'SSN/Personal details'
db_data_2015.loc[db_data_2015['DATA SENSITIVITY'] == '300', 'DATA SENSITIVITY'] = 'Credit card information'
db_data_2015.loc[db_data_2015['DATA SENSITIVITY'] == '4000', 'DATA SENSITIVITY'] = 'Email password/Health records'
db_data_2015.loc[db_data_2015['DATA SENSITIVITY'] == '50000', 'DATA SENSITIVITY'] = 'Full bank account details'
"""

In [125]:
# to remove rows with no YEAR specified
db_data_2015 = db_data_2015.dropna(axis=0, subset=['YEAR'], how='any')

In [127]:
db_data_2015.to_csv('databreach_2015.csv')

In [128]:
#coverting CSV file into a dataframe
db_data_2013 = pd.read_csv('Information is Beautiful- Data Breaches (public) - July 2013 update (old).csv')

In [130]:
with open("Information is Beautiful- Data Breaches (public) - July 2013 update (old).csv",'r') as f, open("db_data_2013.csv",'w') as f1:
    next(f) # skip header line
    for line in f:
        f1.write(line)

In [131]:
db_data_2013 = pd.read_csv('db_data_2013.csv')

In [133]:
db_data_2013 = db_data_2013.dropna(subset=['Entity'], how='any')

In [134]:
from itertools import islice
with open("db_data_2013.csv") as myfile:
    head = list(islice(myfile, 3))
print head

['Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED,Exclude,,1st source link,2nd source link,3rd source,source name,UNUSED,UNUSED,UNUSED,UNUSED,UNUSED,UNUSED,,Link to individual study,Link to individual study,Link to individual study,Link to individual study,Link to individual study,Link to individual study,Link to individual study,Link to individual study,Link to individual study,Link to individual study\r\n', ',,Elaboration if there\'s an interesting story or detail behind it,"years are encoded (0=2004, 8 = 2012, 9 = 2013)",context & leak size,,,,,1. Just email address/Online information 2. SSN/Personal details 3. Credit card information 4.Email password/Health records 5. Full bank account details,,,Show this item in the viz?,,,,,,,,,,,,,,,,,,,,,,\r\n', 'Accendo Insurance Co. ,,"Mismailed letters which allowed some lines of sensitive information (medication name, date of birth, and member ID) to be visible through the envelope window. The mailings were addressed correctly and, to the knowledge of the company, were received by the intended recipients.",7,"175,350",healthcare,poor security,,175350,4,,,,,http://www.databreaches.net/?p=19198,http://www.hhs.gov/ocr/privacy/hipaa/administrative/breachnotificationrule/breachtool.html,,,,,,,,,,,,,,,,,,,\r\n']

In [135]:
db_data_2013.dtypes

Entity                         object
alternative name               object
story                          object
YEAR                           object
records lost                   object
ORGANISATION                   object
METHOD OF LEAK                 object
interesting story              object
NO OF RECORDS STOLEN           object
DATA SENSITIVITY               object
UNUSED                        float64
UNUSED.1                      float64
Exclude                        object
Unnamed: 13                   float64
1st source link                object
2nd source link                object
3rd source                     object
source name                    object
UNUSED.2                       object
UNUSED.3                      float64
UNUSED.4                      float64
UNUSED.5                      float64
UNUSED.6                      float64
UNUSED.7                      float64
Unnamed: 24                   float64
Link to individual study      float64
Link to individual study.1    float64
Link to individual study.2    float64
Link to individual study.3    float64
Link to individual study.4    float64
Link to individual study.5    float64
Link to individual study.6    float64
Link to individual study.7    float64
Link to individual study.8    float64
Link to individual study.9    float64
dtype: object

In [136]:
# selecting only required columns from data frames and renaming those columns
db_data_2013 = db_data_2013[['Entity','story','YEAR','ORGANISATION','METHOD OF LEAK','NO OF RECORDS STOLEN','DATA SENSITIVITY','source name']]
db_data_2013.columns = ['ENTITY','STORY','YEAR','ORGANISATION','METHOD OF LEAK','NO OF RECORDS STOLEN','DATA SENSITIVITY', 'SOURCE NAME']

In [137]:
db_data_2013.dtypes

ENTITY                  object
STORY                   object
YEAR                    object
ORGANISATION            object
METHOD OF LEAK          object
NO OF RECORDS STOLEN    object
DATA SENSITIVITY        object
SOURCE NAME             object
dtype: object

In [138]:
db_data_2013.loc[db_data_2013['YEAR'] == '0', 'YEAR'] = 2004
db_data_2013.loc[db_data_2013['YEAR'] == '1', 'YEAR'] = 2005
db_data_2013.loc[db_data_2013['YEAR'] == '2', 'YEAR'] = 2006
db_data_2013.loc[db_data_2013['YEAR'] == '3', 'YEAR'] = 2007
db_data_2013.loc[db_data_2013['YEAR'] == '4', 'YEAR'] = 2008
db_data_2013.loc[db_data_2013['YEAR'] == '5', 'YEAR'] = 2009
db_data_2013.loc[db_data_2013['YEAR'] == '6', 'YEAR'] = 2010
db_data_2013.loc[db_data_2013['YEAR'] == '7', 'YEAR'] = 2011
db_data_2013.loc[db_data_2013['YEAR'] == '8', 'YEAR'] = 2012
db_data_2013.loc[db_data_2013['YEAR'] == '9', 'YEAR'] = 2013
db_data_2013.loc[db_data_2013['YEAR'] == '10', 'YEAR'] = 2014
db_data_2013.loc[db_data_2013['YEAR'] == '11', 'YEAR'] = 2015
db_data_2013.loc[db_data_2013['YEAR'] == '12', 'YEAR'] = 2016
db_data_2013.loc[db_data_2013['YEAR'] == '13', 'YEAR'] = 2017
db_data_2013.loc[db_data_2013['YEAR'] == '14', 'YEAR'] = 'latest'

In [89]:
"""
db_data_2013.loc[db_data_2013['DATA SENSITIVITY'] == '1', 'DATA SENSITIVITY'] = 'Just email address/Online information'
db_data_2013.loc[db_data_2013['DATA SENSITIVITY'] == '20', 'DATA SENSITIVITY'] = 'SSN/Personal details'
db_data_2013.loc[db_data_2013['DATA SENSITIVITY'] == '300', 'DATA SENSITIVITY'] = 'Credit card information'
db_data_2013.loc[db_data_2013['DATA SENSITIVITY'] == '4000', 'DATA SENSITIVITY'] = 'Email password/Health records'
db_data_2013.loc[db_data_2013['DATA SENSITIVITY'] == '50000', 'DATA SENSITIVITY'] = 'Full bank account details'
"""

In [139]:
db_data_2013.to_csv('databreach_2013.csv')